<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>

        <ion-item>
          <ion-label floating>الاسم</ion-label>
          <ion-input type="text" [(ngModel)]="User.Name"></ion-input>
        </ion-item>
      
        <ion-item>
            <ion-input class="input" [(ngModel)]="User.PhoneNumber" placeholder="Mobile Number"></ion-input>
            <ion-input class="input" [(ngModel)]="User.CountryCode" placeholder="Country Code"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>كلمة السر</ion-label>
            <ion-input type="text" [(ngModel)]="User.Pword"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label floating>تاكيد كلمة السر</ion-label>
            <ion-input type="password" [(ngModel)]="User.PwordVerify"></ion-input>
        </ion-item>


        <ion-item>
              <ion-label floating>البريد الالكتروني</ion-label>
              <ion-input type="text" [(ngModel)]="User.Email"></ion-input>
        </ion-item>
          
        
        
          <button ion-button block color="secondx" class="btnReg" (click)="SaveData(User)">

                <ion-icon name="md-log-in" class="ic"></ion-icon>
                      تسجيل حساب
          </button>

     
      
      </ion-list>


</ion-content>
