page-register {


    .btnReg
    {
        margin: 22px 0;
    }
    .button-inner
    {
        font-size: 18px;
        font-weight: bold;

        ion-icon
        {
            margin: 2px 6px;

        }


    }

}
