<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>

      <ion-item-sliding>

        <ion-item *ngFor='let person of persons'>

          <ion-avatar item-start>
            <img src="../assets/about-img/download (2).jpg">
          </ion-avatar>

          <h2>{{person.name}}</h2>
          <h2>{{person.Lname}}</h2>
          <h2>{{person.DEPT}}</h2>
          <h2>{{person.Age}}</h2>
          
        </ion-item>

        <ion-item-options side="right">

          <button ion-button color="primary">
            <ion-icon name="text"></ion-icon>
            Editx
          </button>

          <button ion-button color="danger">
            <ion-icon name="call"></ion-icon>
            Delete
          </button>

        </ion-item-options>

        <ion-item-options side="left">

          <button ion-button color="primary" >
            <ion-icon name="mail"></ion-icon>
            Email
          </button>
          
        </ion-item-options>

      </ion-item-sliding>


    </ion-list>



</ion-content>
