

<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>

      <ion-icon name="menu"></ion-icon>

    </button>

    <ion-title>تسجيل الدخول</ion-title>

  </ion-navbar>


</ion-header>

<ion-content padding>

    <ion-card class="animated slideInRight">

        <ion-card-header>
          الرجاء ادخل رقم الموبايل
        </ion-card-header>
    
        <ion-card-content>
    
          <ion-list no-line>
    
            <ion-item>
              
              <!-- <ion-input type="tel" placeholder="رقم التلفون" floating></ion-input> -->

              <ion-input class="input" type="number" [(ngModel)]="mobileNumber" placeholder="Mobile Number"></ion-input>
              <ion-input class="input" type="number" [(ngModel)]="countryCode" placeholder="Country Code"></ion-input>

              
              

              <!-- <div class="list">

                  <label class="item item-input item-select">

                      <div class="input-label">
                          Lightsaber
                      </div>

                      <select>

                          <option selected>Default</option>
                          <option >Green</option>
                          <option>Red</option>

                      </select>

                  </label>
  
              </div> -->

            </ion-item>

    
              <button ion-button block color="secondx" (click)="getCode(countryCode,mobileNumber)">
                  <ion-icon name="md-log-in" class="ic"></ion-icon>
                        تسجيل دخول
              </button>

              <div class="container">
                 
                  <hr class="hr-text" data-content="أو">

                </div>

              <button ion-button block color="facebok" class="btnface">
                <ion-icon name="logo-facebook" class="ic"></ion-icon>
                تسجيل بحساب الفيس بوك
              </button>

              <button ion-button block color="Darkx" style="text-transform:capitalize" >
                <ion-icon name="md-mail" class="ic"></ion-icon>
                التسجيل بحساب Gmail
              </button>
    
              <p>

                ليس لديك حساب ؟ <b (click)="GoToReg()">تسجيل</b>

              </p>
              

          </ion-list>
    
        </ion-card-content>
    
    
      </ion-card>

</ion-content>
