page-home {

    .card-md
    {
        box-shadow: none;
    }

    .card-md p
    {
        text-align: center;
        align-content: center;
        align-items: center;
        
        font-size: 19px;
        font-weight: bold;

    }
    p b
    {
        cursor: pointer;
        color: #20bf6b;
    }


    .ic
    {
        margin-left: 8px;
        margin-top: -2px;
        font-size: 21px;
    }

    .btnface
    {
        margin-top: 20%;
    }


    .button-md
    {
        font-size: 17px;
        font-weight: bold;

    }

    .card-header-md
    {
        font-size: 17px;
        font-weight: bold;
    }

    .container {

        max-width: 90%;  
        margin: 40px auto;
      }
      
      .hr-text {
        line-height: 1em;
        position: relative;
        outline: 0;
        border: 0;
        color: black;
        text-align: center;
        height: 1.5em;
        opacity: 1.5;
        &:before {
          content: '';
          // use the linear-gradient for the fading effect
          background: linear-gradient(to right, transparent, #020202, transparent);
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 1px;
        }
        &:after {
          content: attr(data-content);
          position: relative;
          display: inline-block;
          color: black;
      
          padding: 0 .5em;
          line-height: 1.5em;
          // this is really the only tricky part, you need to specify the background color of the container element...
          color: #000000;
          background-color: #fcfcfa;
        }
        
      }



}
