
-->
<ion-header>

  <ion-navbar>

      <button ion-button menuToggle>

          <ion-icon name="menu"></ion-icon>
    
        </button>

    <ion-title>Index</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>

    <ion-row>
              <ion-col *ngFor='let section of sections'>   

                <ion-card (click)='GoToSub()'>

                    <img src="{{ section.icon }}"/>
            
                    <ion-card-content>
            
                      <ion-card-title>
            
                        {{ section.name }}
            
                      </ion-card-title>
            
                      <p>
                        {{ section.description }}
                      </p>
            
                    </ion-card-content>
            
                  </ion-card>
              </ion-col> 
    </ion-row>

  </ion-grid>


</ion-content>
