

<ion-header>

  <ion-navbar>

      <button ion-button menuToggle>

          <ion-icon name="menu"></ion-icon>
    
        </button>

    <ion-title>Devices</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>


    <div padding>

      <ion-toolbar>

        <ion-segment [(ngModel)]="pet" *ngFor='let category of categories'>

              <ion-segment-button value="{{ category.id }}">
                {{ category.name }}
              </ion-segment-button>
        </ion-segment>

      </ion-toolbar>


      </div>
      
      <div [ngSwitch]="pet">

          <ion-list [ngSwitch]="category.id" *ngFor='let category of categories'>

          <ion-item *ngFor='let product of category.products'>  
                <ion-thumbnail item-start>
                  <img src="{{ product.icon }}">
                </ion-thumbnail>
    
                <h2>{{ product.name }}</h2>

                <h4>{{ product.note }}</h4>

                <h4>{{ product.price }}</h4>
    
              <ion-item class="flf" float-left>
    
                  <button ion-button  color="secondary" (click)='addToCart(product.id, product.price)'>
                    <ion-icon name="md-add"></ion-icon>
                  </button>
    
                  <span> 0 </span>
    
                  <button ion-button color="danger" (click)='removefromCart(product.id, product.price)'>
                      <ion-icon name="md-remove"></ion-icon>
                  </button>
      
                </ion-item>
              
            </ion-item>

          </ion-list>        

      </div>


      <div class="footer">
        <ion-input [ngModel]='cartTotal'></ion-input>

        
        <ion-icon name="md-cart" (click)="completeOrder()"></ion-icon>

      </div>


</ion-content>
