
page-devices {

    .footer
    {
        height: 50px;
        background-color: green;
        width: 110%;
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        margin-right: 0;
        left: 0;

        align-content: center;
        align-items: center;

    }

    .footer ion-icon{
        position: absolute;
        color: white;
        left: 36px;
        /* top: -200px; */
        z-index: 2;
        bottom: 0;
        font-size: 45px;
    }

    .footer span
    {
        height: 100%; 
        color: white;
        position: relative;
        top: 18px;
        left: -55%;
        bottom: 0;

    }

    // .footer .line
    // {
    //     border-left: 5px solid white; 
    //     height: 50px;
    //     font-size: 2.1em;
    // }

    .segment-md .segment-button
    {
        font-size: 16px;
        font-weight: bold;
    }

    .item-md .item-button
    {
        width: 30px;
    }

    .flf
    {
        float: left;
    }

}
