<!--
  Generated template for the PurchasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  {   rowid: 1, user: 'Ali', product_id: 1, product_name: 'مازا 250مل', price: 213, date: '23-5-2018'   },
-->
<ion-header>

  <ion-navbar>
    <ion-title>purchase</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h2>Retrived Orders : -</h2>
 <div *ngFor='let order of data'>
   <p>Order number : {{ order.rowid }}</p>
 	user : {{ order.user }}
 	product_name : {{ order.product_name }}
 	price : {{ order.price }}
   date : {{ order.date }}
 </div>


</ion-content>
