<!--
  Generated template for the CodeVerifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>تأكيد الرمز</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>تأكيد الرمز</h3>
  <h5>رقمك هو : </h5> <h5>{{ mobile }}</h5>
  <p>ستصلك رسالة تحتوي علي رمز التأكيد؛ قم بادخال الرمز للتأكيد</p>

   <ion-input class="input" type="number" [(ngModel)]="theCode" name="theCode" placeholder="Verification Code"></ion-input>

  <button ion-button block color="secondx" (click)="verifyCode(theCode)">
    <ion-icon name="md-log-in" class="ic"></ion-icon>
    تسجيل دخول
  </button>
</ion-content>
